*{
    padding: 0;
    margin: 0;
    border: 0;
    
}

body{
    background-color: black;
    color: white;
}

.navbar{
    padding-left: 2.5%;
    padding-right: 2.5%;    
}


#carouselExample img{
    height: 45vmax;
    object-fit: cover;    
}

.foto1{
    
   object-position: center;   
}

.foto3, .foto2{
    object-position: top;
}





footer a{
    text-decoration: none;
    color: white;
}