*{
    padding: 0;
    margin: 0;
    border: 0;
    
}

body{
    background-color: black;
    color: white;
}

#carouselExample img{
    height: 38vmax;
    object-fit: cover;    
}

.foto1{
    
   object-position: center;   
}

.foto3, .foto2{
    object-position: top;
}





footer a{
    text-decoration: none;
    color: white;
}